{% assign article_url = shop.url | append: article.url %}
{% assign article_title = article.title | url_escape %}

<!-- Facebook -->
<a href="https://www.facebook.com/sharer/sharer.php?u={{ article_url }}" target="_blank" rel="noopener" title="Share on Facebook" aria-label="Share on Facebook (opens in a new tab)" class="share--icon">
  <svg xmlns="http://www.w3.org/2000/svg" width="13" height="23" viewBox="0 0 13 23" fill="none">
    <path d="M12.1043 0.704506L9.21204 0.700012C5.96269 0.700012 3.86281 2.78646 3.86281 6.0158V8.46674H0.954779C0.895037 8.46674 0.835881 8.47814 0.780689 8.50028C0.725498 8.52243 0.675353 8.55489 0.63312 8.59582C0.590887 8.63674 0.557392 8.68532 0.534551 8.73878C0.51171 8.79224 0.49997 8.84954 0.5 8.9074V12.4585C0.5 12.5753 0.547914 12.6874 0.633202 12.77C0.71849 12.8526 0.834165 12.899 0.954779 12.899H3.86281V21.8596C3.86281 21.9764 3.91073 22.0884 3.99601 22.171C4.0813 22.2536 4.19698 22.3 4.31759 22.3H8.11175C8.23236 22.3 8.34804 22.2536 8.43333 22.171C8.51861 22.0884 8.56653 21.9764 8.56653 21.8596V12.899H11.9667C12.0873 12.899 12.203 12.8526 12.2883 12.77C12.3736 12.6874 12.4215 12.5753 12.4215 12.4585L12.4229 8.9074C12.4227 8.79056 12.3748 8.67855 12.2895 8.59593C12.2042 8.51332 12.0885 8.46686 11.9679 8.46674H8.56653V6.38905C8.56653 5.39043 8.81225 4.88348 10.1555 4.88348L12.1038 4.8828C12.2244 4.88274 12.34 4.83631 12.4253 4.75372C12.5105 4.67113 12.5584 4.55914 12.5584 4.44237V1.14494C12.5584 1.02825 12.5106 0.916324 12.4254 0.833745C12.3403 0.751167 12.2248 0.704685 12.1043 0.704506Z" fill="white"/>
  </svg>
</a>

<!-- Twitter -->
<a href="https://twitter.com/intent/tweet?text={{ article_title }}&url={{ article_url }}" target="_blank" rel="noopener" title="Share on Twitter" aria-label="Share on Twitter (opens in a new tab)" class="share--icon">
  <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23" fill="none">
    <path d="M13.4928 9.84609L21.6327 0.700012H19.7038L12.6359 8.64146L6.99087 0.700012H0.47998L9.01642 12.7089L0.47998 22.3H2.40897L9.87275 13.9136L15.8343 22.3H22.3452L13.4928 9.84609ZM10.8508 12.8146L9.98577 11.6189L3.10401 2.10366H6.06683L11.6205 9.78274L12.4855 10.9785L19.7046 20.9601H16.7419L10.8508 12.8146Z" fill="white"/>
  </svg>
</a>

<!-- Instagram (just link to profile, sharing not supported) -->
<a href="https://www.instagram.com/your_instagram_handle" target="_blank" rel="noopener" title="Follow us on Instagram" aria-label="Follow us on Instagram (opens in a new tab)" class="share--icon">
  <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23" fill="none">
    <path d="M16.9164 0.700012H5.81752C2.76559 0.700012 0.268066 3.13022 0.268066 6.09988V16.9001C0.268066 19.869 2.76559 22.3 5.81752 22.3H16.9164C19.9684 22.3 22.4659 19.869 22.4659 16.9001V6.09988C22.4659 3.13022 19.9684 0.700012 16.9164 0.700012ZM20.616 16.9001C20.616 18.8846 18.957 20.5 16.9164 20.5H5.81752C3.77783 20.5 2.11798 18.8846 2.11798 16.9001V6.09988C2.11798 4.1149 3.77783 2.50006 5.81752 2.50006H16.9164C18.957 2.50006 20.616 4.1149 20.616 6.09988V16.9001Z" fill="white"/>
    <path d="M17.3798 6.99977C18.146 6.99977 18.7672 6.39537 18.7672 5.6498C18.7672 4.90423 18.146 4.29983 17.3798 4.29983C16.6136 4.29983 15.9924 4.90423 15.9924 5.6498C15.9924 6.39537 16.6136 6.99977 17.3798 6.99977Z" fill="white"/>
    <path d="M11.367 6.09989C8.30145 6.09989 5.81753 8.51712 5.81753 11.4998C5.81753 14.4813 8.30145 16.9002 11.367 16.9002C14.4317 16.9002 16.9164 14.4813 16.9164 11.4998C16.9164 8.51712 14.4317 6.09989 11.367 6.09989ZM11.367 15.1001C9.32393 15.1001 7.66743 13.4883 7.66743 11.4998C7.66743 9.51125 9.32393 7.89993 11.367 7.89993C13.41 7.89993 15.0665 9.51125 15.0665 11.4998C15.0665 13.4883 13.41 15.1001 11.367 15.1001Z" fill="white"/>
  </svg>
</a>

<!-- LinkedIn -->
<a href="https://www.linkedin.com/shareArticle?mini=true&url={{ article_url }}&title={{ article_title }}" target="_blank" rel="noopener" title="Share on LinkedIn" aria-label="Share on LinkedIn (opens in a new tab)" class="share--icon">
  <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23" fill="none">
    <path d="M22.7576 22.3H18.1249V15.2837C18.1249 13.6098 18.0932 11.4578 15.7161 11.4578C13.3036 11.4578 12.9341 13.2806 12.9341 15.1626V22.3H8.30165V7.87209H12.7488V9.8433H12.8104C13.429 8.70916 14.9412 7.51308 17.1966 7.51308C21.8909 7.51308 22.7576 10.5013 22.7576 14.386V22.3ZM3.07727 5.89983C1.59134 5.89983 0.388672 4.7344 0.388672 3.29918C0.388672 1.86502 1.59134 0.700012 3.07727 0.700012C4.55928 0.700012 5.76369 1.86502 5.76369 3.29918C5.76369 4.7344 4.55928 5.89983 3.07727 5.89983ZM0.758308 22.3V7.87209H5.39427V22.3H0.758308Z" fill="white"/>
  </svg>
</a>

<!-- Copy Link -->
<button type="button" class="copy-link-button share--icon" data-url="{{ article_url }}" title="Copy link to clipboard" >
  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
    <path d="M13.1747 10.7309L16.4522 7.56604C17.5825 6.47459 17.5825 4.705 16.4522 3.61355C15.3219 2.5221 13.4893 2.5221 12.359 3.61355L9.08149 6.77837L7.80355 5.54435C7.70329 5.44754 7.70329 5.29058 7.80355 5.19377L10.9994 2.10776C12.932 0.241572 16.0654 0.241571 17.998 2.10776C19.9307 3.97394 19.9307 6.99963 17.998 8.86581L14.8022 11.9518C14.7019 12.0486 14.5394 12.0486 14.4391 11.9518L13.1747 10.7309ZM7.08463 8.70659L3.83562 11.8439C2.70532 12.9354 2.70532 14.705 3.83562 15.7964C4.96592 16.8879 6.79851 16.8879 7.92881 15.7964L11.1778 12.6591L12.4446 13.8823C12.5448 13.9791 12.5448 14.1361 12.4446 14.2329L9.18408 17.3813C7.25019 19.2487 4.11472 19.2487 2.18083 17.3813C0.246932 15.5138 0.246932 12.4862 2.18083 10.6187L5.4413 7.47034C5.54156 7.37353 5.70411 7.37353 5.80437 7.47034L7.08463 8.70659ZM6.82416 11.4952L11.9071 6.587C12.0073 6.49019 12.1699 6.49019 12.2701 6.587L13.4047 7.68258C13.505 7.77939 13.505 7.93636 13.4047 8.03317L8.3218 12.9414C8.22154 13.0382 8.05899 13.0382 7.95874 12.9414L6.82416 11.8458C6.7239 11.749 6.7239 11.592 6.82416 11.4952Z" fill="white"/>
  </svg>
  <span class="copy-tooltip">Copied!</span>
</button>