{% style %}
  @media (min-width: 990px) {
    #shopify-block-{{ block.id }} {
      display: flex;
      {% if block.settings.flex_grow %}flex: {{ block.settings.flex_grow }};{% endif %}
    }
  }

  .block-container-{{ block.id }} {
    display: flex;
    flex-direction: {{ block.settings.direction }}{% if block.settings.reverse %}-reverse{% endif %};
    gap: {{ block.settings.gap }}rem;
    justify-content: {% if block.settings.direction == 'row' %}{{ block.settings.alignment_horizontal }}{% else %}{{ block.settings.alignment_vertical }}{% endif %};
    align-items: {% if block.settings.direction == 'row' %}{{ block.settings.alignment_vertical }}{% else %}{{ block.settings.alignment_horizontal }}{% endif %};
    width: 100%;

    @media (max-width: 989px) {
      flex-direction: {{ block.settings.direction_tablet }}{% if block.settings.reverse_tablet %}-reverse{% endif %};
      gap: {{ block.settings.gap_tablet }}rem;
      justify-content: {% if block.settings.direction_tablet == 'row' %}{{ block.settings.alignment_horizontal_tablet }}{% else %}{{ block.settings.alignment_vertical_tablet }}{% endif %};
      align-items: {% if block.settings.direction_tablet == 'row' %}{{ block.settings.alignment_vertical_tablet }}{% else %}{{ block.settings.alignment_horizontal_tablet }}{% endif %};
    }

    @media (max-width: 749px) {
      flex-direction: {{ block.settings.direction_mobile }}{% if block.settings.reverse_mobile %}-reverse{% endif %};
      gap: {{ block.settings.gap_mobile }}rem;
      justify-content: {% if block.settings.direction_mobile == 'row' %}{{ block.settings.alignment_horizontal_mobile }}{% else %}{{ block.settings.alignment_vertical_mobile }}{% endif %};
      align-items: {% if block.settings.direction_mobile == 'row' %}{{ block.settings.alignment_vertical_mobile }}{% else %}{{ block.settings.alignment_horizontal_mobile }}{% endif %};
    }
  }
  
  .block-container-{{ block.id }} > * {
    min-width: 0;
  }
{% endstyle %}

<div class="block-container block-container-{{ block.id }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}{% if block.settings.css_class %} {{ block.settings.css_class }}{% endif %}">
  {% content_for 'blocks' %}
</div>

{% schema %}
{
  "name": "t:blocks.container.label",
  "settings": [
    {
      "type": "header",
      "content": "t:blocks.container.settings.header.content"
    },
    {
      "type": "select",
      "id": "direction",
      "label": "t:blocks.container.settings.direction.label",
      "options": [
        { "value": "row", "label": "t:blocks.container.settings.direction.options__1.label" },
        { "value": "column", "label": "t:blocks.container.settings.direction.options__2.label" }
      ],
      "default": "column"
    },
    {
      "type": "checkbox",
      "id": "reverse",
      "label": "t:blocks.container.settings.reverse.label",
      "default": false
    },
    {
      "type": "select",
      "id": "alignment_horizontal",
      "label": "t:blocks.container.settings.alignment_horizontal.label",
      "options": [
        { "value": "flex-start", "label": "t:blocks.container.settings.alignment_horizontal.options__1.label" },
        { "value": "center", "label": "t:blocks.container.settings.alignment_horizontal.options__2.label" },
        { "value": "flex-end", "label": "t:blocks.container.settings.alignment_horizontal.options__3.label" },
        { "value": "space-between", "label": "t:blocks.container.settings.alignment_horizontal.options__4.label" },
        { "value": "space-around", "label": "t:blocks.container.settings.alignment_horizontal.options__5.label" },
        { "value": "stretch", "label": "t:blocks.container.settings.alignment_horizontal.options__6.label" }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "alignment_vertical",
      "label": "t:blocks.container.settings.alignment_vertical.label",
      "options": [
        { "value": "flex-start", "label": "t:blocks.container.settings.alignment_vertical.options__1.label" },
        { "value": "center", "label": "t:blocks.container.settings.alignment_vertical.options__2.label" },
        { "value": "flex-end", "label": "t:blocks.container.settings.alignment_vertical.options__3.label" },
        { "value": "space-between", "label": "t:blocks.container.settings.alignment_vertical.options__4.label" },
        { "value": "space-around", "label": "t:blocks.container.settings.alignment_vertical.options__5.label" },
        { "value": "stretch", "label": "t:blocks.container.settings.alignment_vertical.options__6.label" }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "flex_grow",
      "label": "Flex grow",
      "options": [
        { "value": "", "label": "Auto" },
        { "value": "0 0 auto", "label": "Fixed width (no grow)" },
        { "value": "1", "label": "Grow to fill space" }
      ],
      "default": "",
      "info": "Controls how this container shares space with siblings"
    },
    {
      "type": "range",
      "id": "gap",
      "label": "t:blocks.container.settings.gap.label",
      "min": 0,
      "max": 20,
      "step": 0.5,
      "unit": "rem",
      "default": 2
    },
    {
      "type": "header",
      "content": "t:blocks.container.settings.header_tablet.content"
    },
    {
      "type": "select",
      "id": "direction_tablet",
      "label": "t:blocks.container.settings.direction.label",
      "options": [
        { "value": "row", "label": "t:blocks.container.settings.direction.options__1.label" },
        { "value": "column", "label": "t:blocks.container.settings.direction.options__2.label" }
      ],
      "default": "column"
    },
    {
      "type": "checkbox",
      "id": "reverse_tablet",
      "label": "t:blocks.container.settings.reverse.label",
      "default": false
    },
    {
      "type": "select",
      "id": "alignment_horizontal_tablet",
      "label": "t:blocks.container.settings.alignment_horizontal.label",
      "options": [
        { "value": "flex-start", "label": "t:blocks.container.settings.alignment_horizontal.options__1.label" },
        { "value": "center", "label": "t:blocks.container.settings.alignment_horizontal.options__2.label" },
        { "value": "flex-end", "label": "t:blocks.container.settings.alignment_horizontal.options__3.label" },
        { "value": "space-between", "label": "t:blocks.container.settings.alignment_horizontal.options__4.label" },
        { "value": "space-around", "label": "t:blocks.container.settings.alignment_horizontal.options__5.label" },
        { "value": "stretch", "label": "t:blocks.container.settings.alignment_horizontal.options__6.label" }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "alignment_vertical_tablet",
      "label": "t:blocks.container.settings.alignment_vertical.label",
      "options": [
        { "value": "flex-start", "label": "t:blocks.container.settings.alignment_vertical.options__1.label" },
        { "value": "center", "label": "t:blocks.container.settings.alignment_vertical.options__2.label" },
        { "value": "flex-end", "label": "t:blocks.container.settings.alignment_vertical.options__3.label" },
        { "value": "space-between", "label": "t:blocks.container.settings.alignment_vertical.options__4.label" },
        { "value": "space-around", "label": "t:blocks.container.settings.alignment_vertical.options__5.label" },
        { "value": "stretch", "label": "t:blocks.container.settings.alignment_vertical.options__6.label" }
      ],
      "default": "center"
    },
    {
      "type": "range",
      "id": "gap_tablet",
      "label": "t:blocks.container.settings.gap.label",
      "min": 0,
      "max": 20,
      "step": 0.5,
      "unit": "rem",
      "default": 2
    },
    {
      "type": "header",
      "content": "t:blocks.container.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "direction_mobile",
      "label": "t:blocks.container.settings.direction.label",
      "options": [
        { "value": "row", "label": "t:blocks.container.settings.direction.options__1.label" },
        { "value": "column", "label": "t:blocks.container.settings.direction.options__2.label" }
      ],
      "default": "column"
    },
    {
      "type": "checkbox",
      "id": "reverse_mobile",
      "label": "t:blocks.container.settings.reverse.label",
      "default": false
    },
    {
      "type": "select",
      "id": "alignment_horizontal_mobile",
      "label": "t:blocks.container.settings.alignment_horizontal.label",
      "options": [
        { "value": "flex-start", "label": "t:blocks.container.settings.alignment_horizontal.options__1.label" },
        { "value": "center", "label": "t:blocks.container.settings.alignment_horizontal.options__2.label" },
        { "value": "flex-end", "label": "t:blocks.container.settings.alignment_horizontal.options__3.label" },
        { "value": "space-between", "label": "t:blocks.container.settings.alignment_horizontal.options__4.label" },
        { "value": "space-around", "label": "t:blocks.container.settings.alignment_horizontal.options__5.label" },
        { "value": "stretch", "label": "t:blocks.container.settings.alignment_horizontal.options__6.label" }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "alignment_vertical_mobile",
      "label": "t:blocks.container.settings.alignment_vertical.label",
      "options": [
        { "value": "flex-start", "label": "t:blocks.container.settings.alignment_vertical.options__1.label" },
        { "value": "center", "label": "t:blocks.container.settings.alignment_vertical.options__2.label" },
        { "value": "flex-end", "label": "t:blocks.container.settings.alignment_vertical.options__3.label" },
        { "value": "space-between", "label": "t:blocks.container.settings.alignment_vertical.options__4.label" },
        { "value": "space-around", "label": "t:blocks.container.settings.alignment_vertical.options__5.label" },
        { "value": "stretch", "label": "t:blocks.container.settings.alignment_vertical.options__6.label" }
      ],
      "default": "center"
    },
    {
      "type": "range",
      "id": "gap_mobile",
      "label": "t:blocks.container.settings.gap.label",
      "min": 0,
      "max": 20,
      "step": 0.5,
      "unit": "rem",
      "default": 2
    },
    {
      "type": "header",
      "content": "t:blocks.all.settings.css_header.content"
    },
    {
      "type": "text",
      "id": "css_class",
      "label": "t:blocks.all.settings.css_class.label",
      "info": "t:blocks.all.settings.css_class.info"
    },
  ],
  "blocks": [
    {
      "type": "@theme"
    }
  ],
  "presets": [
    { "name": "t:blocks.container.presets.name" }
  ]
}
{% endschema %}