{%- capture aria_label -%}{{ block.settings.link_label | default: block.settings.alt_text }}{%- endcapture -%}

{% style %}
  @media (min-width: 990px) {
    #shopify-block-{{ block.id }} {
      flex: 0 0 auto;
    }
  }

  .block-image-{{ block.id }} {
    display: block;
    width: 100%;
    height: auto;
    max-width: {%- if block.settings.max_width != blank -%}{{ block.settings.max_width }}{%- else -%}400px{%- endif -%};
    border-radius: {{ block.settings.border_radius }}px;
    {%- if block.settings.add_drop_shadow == true -%}
      box-shadow: 0 2px 54px rgba(var(--color-shadow), 0.28);
    {%- endif -%}
  }

  .block-image-link-{{ block.id }} {
    border-radius: {{ block.settings.border_radius }}px;
  }

  {% if block.settings.image_mobile != blank %}
    .block-image-{{ block.id }}.mobile {
      display: none;
    }

    @media (max-width: 749px) {
      .block-image-{{ block.id }}.mobile {
        display: block;
      }
      .block-image-{{ block.id }}:not(.mobile) {
        display: none;
      }
    }

  {% endif %}
{% endstyle %}

<div class="block-image-container block-image-container-{{ block.id }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}{% if block.settings.css_class %} {{ block.settings.css_class }}{% endif %}">
  {%- unless block.settings.image == blank -%}
    {%- if block.settings.link != blank or block.settings.video_url != blank -%}
      <a
        href="{% if block.settings.link != blank %}{{ block.settings.link }}{% else %}{{ block.settings.video_url }}{% endif %}"
        class="block-image-link block-image-link-{{ block.id }}{% if block.settings.video_url != blank %} glightbox{% endif %}"
        {%- if block.settings.open_in_new_window == true -%}target="_blank" rel="noopener noreferrer"{%- endif -%}
        aria-label="{{ aria_label }}{% if block.settings.link != blank and block.settings.open_in_new_window %} (opens in new window){% elsif block.settings.video_url != blank %} (opens video in lightbox){% endif %}"
      >
    {%- endif -%}
    <img
      class="block-image block-image-{{ block.id }}"
      width="auto"
      height="auto"
      loading="lazy"
      src="{{ block.settings.image | image_url }}"
      alt="{{ block.settings.alt_text | escape }}"
    />
    {% if block.settings.image_mobile != blank %}
      <img
        class="block-image block-image-{{ block.id }} mobile"
        width="auto"
        height="auto"
        loading="lazy"
        src="{{ block.settings.image_mobile | image_url }}"
        alt="{{ block.settings.alt_text | escape }}"
      />
    {%- endif -%}
    {% if block.settings.video_url != blank %}{{- 'icon-video-circle.svg' | inline_asset_content -}}{% endif %}
    {%- if block.settings.link != blank or block.settings.video_url != blank  -%}
      </a>
    {%- endif -%}
  {%- endunless -%}
  
  {%- unless block.settings.caption == blank -%}
    <div class="block-image-caption block-image-caption-{{ block.id }}">
      {{ block.settings.caption }}
    </div>
  {%- endunless %}
  {% unless block.settings.sub_caption == blank -%}
    <div class="block-image-subcaption block-image-subcaption-{{ block.id }}">
      {{ block.settings.sub_caption }}
    </div>
  {%- endunless -%}
</div>

{% schema %}
{
  "name": "t:blocks.image.label",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:blocks.image.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "t:blocks.image.settings.image_mobile.label"
    },
    {
      "type": "text",
      "id": "alt_text",
      "label": "t:blocks.image.settings.alt_text.label",
      "info": "t:blocks.image.settings.alt_text.info"
    },
    {
      "type": "richtext",
      "id": "caption",
      "label": "t:blocks.image.settings.caption.label"
    },
    {
      "type": "richtext",
      "id": "sub_caption",
      "label": "t:blocks.image.settings.sub_caption.label"
    },
    {
      "type": "text",
      "id": "max_width",
      "label": "t:blocks.image.settings.max_width.label",
      "info": "t:blocks.image.settings.max_width.info"
    },
    {
      "type": "checkbox",
      "id": "add_drop_shadow",
      "label": "t:blocks.image.settings.add_drop_shadow.label",
      "default": false
    },
    {
      "type": "range",
      "id": "border_radius",
      "label": "t:blocks.image.settings.border_radius.label",
      "min": 0,
      "max": 50,
      "step": 1,
      "default": 0,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "t:blocks.image.settings.link_header.content"
    },
    {
      "type": "url",
      "id": "link",
      "label": "t:blocks.image.settings.link.label",
      "info": "t:blocks.image.settings.link.info"
    },
    {
      "type": "video_url",
      "id": "video_url",
      "label": "t:sections.hero.blocks.slide.settings.video_url.label",
      "info": "t:sections.hero.blocks.slide.settings.video_url.info",
      "accept": ["youtube", "vimeo"]
    },
    {
      "type": "checkbox",
      "id": "open_in_new_window",
      "label": "t:blocks.image.settings.open_in_new_window.label",
      "default": false
    },
    {
      "type": "text",
      "id": "link_label",
      "label": "t:blocks.image.settings.link_label.label",
      "info": "t:blocks.image.settings.link_label.info"
    },
    {
      "type": "header",
      "content": "t:blocks.all.settings.css_header.content"
    },
    {
      "type": "text",
      "id": "css_class",
      "label": "t:blocks.all.settings.css_class.label",
      "info": "t:blocks.all.settings.css_class.info"
    },
  ],
  "presets": [
    { "name": "t:blocks.image.presets.name" }
  ]
}
{% endschema %}
