{% style %}
  .block-menu-{{ block.id }} {
    display: flex;
    flex-direction: column;
    gap: {{ block.settings.gap }}rem;
  }

  .block-menu-{{ block.id }} {{ block.settings.heading_tag }} {
    font-size: {{ block.settings.heading_font_size }}px !important;
    color: {{ block.settings.heading_color }};
    line-height: 1.4;
    letter-spacing: var(--font-body-letter-spacing);
    margin: 0;
  }

  .block-menu-{{ block.id }} .block-menu__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  .block-menu-{{ block.id }} .block-menu__list a {
    font-size: {{ block.settings.menu_font_size }}px;
    line-height: 1;
    letter-spacing: var(--font-body-letter-spacing);
    font-weight: var(--font-body-weight);
    color: rgb(var(--color-text));
    text-decoration: none;
    white-space: nowrap;
  }

  .block-menu-{{ block.id }} .block-menu__list a:hover {
    color: rgb(var(--color-accent));
  }
{% endstyle %}

<div class="block-menu block-menu-{{ block.id }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}{% if block.settings.css_class %} {{ block.settings.css_class }}{% endif %}">
  {% unless block.settings.heading == blank %}
    <{{ block.settings.heading_tag }} id="menu-heading-{{ block.id }}">{{ block.settings.heading }}</{{ block.settings.heading_tag }}>
  {% endunless %}

  {% unless block.settings.menu == blank %}
    <nav
      {% if block.settings.heading != blank %}
        aria-labelledby="menu-heading-{{ block.id }}"
      {% else %}
        aria-label="{{ block.settings.aria_label | default: linklists[block.settings.menu].title }}"
      {% endif %}
    >
      <ul class="block-menu__list">
        {% for link in linklists[block.settings.menu].links %}
          <li>
            <a
              href="{{ link.url }}"
              {% if link.current or link.active %} aria-current="page"{% endif %}
              {% unless link.url contains shop.url %} target="_blank" rel="noopener noreferrer"{% endunless %}
            >
              {{ link.title }}
              {% unless link.url contains shop.url %}<span class="sr-only"> (opens in new window)</span>{% endunless %}
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  {% endunless %}
</div>

{% schema %}
{
  "name": "t:blocks.menu.label",
  "settings": [
    {
      "type": "header",
      "content": "t:blocks.menu.settings.heading_header.content"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:blocks.menu.settings.heading.label"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "label": "t:blocks.menu.settings.heading_tag.label",
      "options": [
        { "value": "h1", "label": "H1" },
        { "value": "h2", "label": "H2" },
        { "value": "h3", "label": "H3" },
        { "value": "h4", "label": "H4" },
        { "value": "h5", "label": "H5" },
        { "value": "h6", "label": "H6" }
      ],
      "default": "h2"
    },
    {
      "type": "range",
      "id": "heading_font_size",
      "label": "t:blocks.menu.settings.heading_font_size.label",
      "min": 14,
      "max": 30,
      "step": 1,
      "unit": "px",
      "default": 14
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "t:blocks.menu.settings.heading_color.label",
      "default": "#8C9BB8"
    },
    {
      "type": "header",
      "content": "t:blocks.menu.settings.heading_menu.content"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:blocks.menu.settings.menu.label"
    },
    {
      "type": "range",
      "id": "menu_font_size",
      "label": "t:blocks.menu.settings.menu_font_size.label",
      "min": 14,
      "max": 20,
      "step": 1,
      "unit": "px",
      "default": 14
    },
    {
      "type": "range",
      "id": "gap",
      "label": "t:blocks.text-content.settings.gap.label",
      "min": 0,
      "max": 5,
      "step": 0.5,
      "unit": "rem",
      "default": 1.5
    },
    {
      "type": "text",
      "id": "aria_label",
      "label": "t:blocks.menu.settings.aria_label.label",
      "info": "t:blocks.menu.settings.aria_label.info"
    },
    {
      "type": "header",
      "content": "t:blocks.all.settings.css_header.content"
    },
    {
      "type": "text",
      "id": "css_class",
      "label": "t:blocks.all.settings.css_class.label",
      "info": "t:blocks.all.settings.css_class.info"
    },
  ],
  "presets": [
    { "name": "t:blocks.menu.presets.name" }
  ]
}
{% endschema %}
