{{ 'customer.css' | asset_url | stylesheet_tag }}

{%- style -%}

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.mobile_padding_top }}px;
    padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
    background-color: {{ section.settings.bg_color }};
  }

  @media screen and (min-width: 750px) {
     
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }

  }
  
  @media screen and (min-width: 1024px) {
    
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }

  }
  
{%- endstyle -%}

<div class="customer__wrapper section-{{ section.id }}-padding">

  {% if section.settings.pattern_before != blank %}
    <div class="pattern_before">
      {{ section.settings.pattern_before | 
        image_url: width: auto, height: auto | image_tag }}
    </div>
  {% endif %}

  <div class="customer account ">
  <div>
    <h1 class="customer__title h2">{{ 'customer.account.title' | t }}</h1>
    <a href="{{ routes.account_logout_url }}">
      <span class="svg-wrapper">
        {{- 'icon-account.svg' | inline_asset_content -}}
      </span>
      {{ 'customer.log_out' | t }}
    </a>
  </div>

  <div>
    <div>
      <h2>{{ 'customer.orders.title' | t }}</h2>

      {% paginate customer.orders by 20 %}
        {%- if customer.orders.size > 0 -%}
          <table role="table" class="order-history">
            <caption class="visually-hidden">
              {{ 'customer.orders.title' | t }}
            </caption>
            <thead role="rowgroup">
              <tr role="row">
                <th id="ColumnOrder" scope="col" role="columnheader">{{ 'customer.orders.order_number' | t }}</th>
                <th id="ColumnDate" scope="col" role="columnheader">{{ 'customer.orders.date' | t }}</th>
                <th id="ColumnPayment" scope="col" role="columnheader">{{ 'customer.orders.payment_status' | t }}</th>
                <th id="ColumnTotal" scope="col" role="columnheader">{{ 'customer.orders.total' | t }}</th>
              </tr>
            </thead>
            <tbody role="rowgroup">
              {%- for order in customer.orders -%}
                <tr role="row">
                  <td
                    class="order__id"
                    id="RowOrder"
                    role="cell"
                    headers="ColumnOrder"
                    data-label="{{ 'customer.orders.order_number' | t }}"
                  >
                    <a
                      href="{{ order.customer_url }}"
                      aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}"
                    >
                      {{ order.name }}
                    </a>
                  </td>
                  <td headers="RowOrder ColumnDate" role="cell" data-label="{{ 'customer.orders.date' | t }}">
                    {{ order.created_at | time_tag: format: 'date' }}
                  </td>
                  <td
                    headers="RowOrder ColumnPayment"
                    role="cell"
                    data-label="{{ 'customer.orders.payment_status' | t }}"
                  >
                    {{ order.financial_status_label }}
                  </td>
                  <td headers="RowOrder ColumnTotal" role="cell" data-label="{{ 'customer.orders.total' | t }}">
                    {{ order.total_net_amount | money_with_currency }}
                  </td>
                </tr>
              {%- endfor -%}
            </tbody>
          </table>
        {%- else -%}
          <p>{{ 'customer.orders.none' | t }}</p>
        {%- endif -%}

        {%- if paginate.pages > 1 -%}
          {%- if paginate.parts.size > 0 -%}
            <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
              <ul role="list">
                {%- if paginate.previous -%}
                  <li>
                    <a href="{{ paginate.previous.url }}" aria-label="{{ 'general.pagination.previous' | t }}">
                      <span class="svg-wrapper">
                        {{- 'icon-caret.svg' | inline_asset_content -}}
                      </span>
                    </a>
                  </li>
                {%- endif -%}

                {%- for part in paginate.parts -%}
                  <li>
                    {%- if part.is_link -%}
                      <a href="{{ part.url }}" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">
                        {{- part.title -}}
                      </a>
                    {%- else -%}
                      {%- if part.title == paginate.current_page -%}
                        <span aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">
                          {{- part.title -}}
                        </span>
                      {%- else -%}
                        <span>{{ part.title }}</span>
                      {%- endif -%}
                    {%- endif -%}
                  </li>
                {%- endfor -%}

                {%- if paginate.next -%}
                  <li>
                    <a href="{{ paginate.next.url }}" aria-label="{{ 'general.pagination.next' | t }}">
                      <span class="svg-wrapper">
                        {{- 'icon-caret.svg' | inline_asset_content -}}
                      </span>
                    </a>
                  </li>
                {%- endif -%}
              </ul>
            </nav>
          {%- endif -%}
        {%- endif -%}
      {% endpaginate %}
    </div>

    <div>
      <h2>{{ 'customer.account.details' | t }}</h2>
      
      {% if customer.default_address and customer.default_address.address1 != blank %}
         {{ customer.default_address | format_address }}
      {% endif %}

      <a href="{{ routes.account_addresses_url }}" class="button button--primary">
        {{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})
      </a>

      <ul class="accountpage_referral-details-extension">
        {% if customer.orders_count > 0 %}
          <li><a href="#" target="_blank" class="button button--primary hidden">REFER FRIENDS & FAMILY</a></li>
        {% endif %}
      </ul>
      {%- if section.settings.secure_label != blank -%}
        <div class="secure-portal-wrapper">
          <a class="secure-portal button button--primary" href="{{ section.settings.secure_link }}" target="_blank" title="{{ section.settings.secure_label }}">{{ section.settings.secure_label }}</a>
          {%- if section.settings.secure_tooltip != blank -%}
            <div class="secure-tooltip">
              <span class="tooltip-pointer"></span>
              {{ section.settings.secure_tooltip }}
            </div>
          {%- endif -%}
        </div>
      {%- endif -%}
    </div>
  </div>
</div>
<script>
  function onElementReady(selector, callback) {
    const el = document.querySelector(selector);
    if (el) {
      callback(el);
      return;
    }

    const observer = new MutationObserver(() => {
      const el = document.querySelector(selector);
      if (el) {
        callback(el);
        observer.disconnect(); // stop observing once found
      }
    });

    observer.observe(document.body, { childList: true, subtree: true });
  }

  // Usage
  onElementReady(".rc-join-block-container input[type='text']", (referralLink) => {
    if(referralLink) {
      const referralButton = document.querySelector(".accountpage_referral-details-extension a");
      referralButton.setAttribute("data-link", referralLink.value);
      referralButton.classList.remove("hidden")
      document.querySelector(".accountpage_referral-details-extension a").addEventListener("click", function (e) {
        e.preventDefault();
        const link = this.getAttribute("data-link");
        navigator.clipboard.writeText(link).then(() => {
          this.textContent = "COPIED! SHARE LINK";
        });
      });
    }
  });
</script>
{% if section.settings.pattern_after != blank %}
  <div class="pattern_after">
    {{ section.settings.pattern_after | 
      image_url: width: auto, height: auto | image_tag }}
  </div>
{% endif %}

</div>

{% schema %}
{
  "name": "t:sections.main-account.name",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },
    {
      "type": "image_picker",
      "id": "pattern_before",
      "label": "Patter Before"
    },
    {
      "type": "image_picker",
      "id": "pattern_after",
      "label": "Patter After"
    },
    {
      "type": "checkbox",
      "id": "enable_shop_login_button",
      "label": "t:sections.main-login.shop_login_button.enable",
      "default": true
    },
    {
      "type": "header",
      "content": "Desktop Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 50,
      "max": 150,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 50,
      "max": 150,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 50
    },
    {
      "type": "header",
      "content": "Mobile Padding"
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "Secure Results Portal"
    },
    {
      "type": "text",
      "id": "secure_label",
      "label": "Label"
    },
    {
      "type": "url",
      "id": "secure_link",
      "label": "Link"
    },
    {
      "type": "richtext",
      "id": "secure_tooltip",
      "label": "Tooltip text",
      "default": "<p>Using the portal requires completion of the Membership Enrollment form and receipt of your Longevity Life+ Membership ID</p>"
    }
  ]
}
{% endschema %}
