{{ 'customer.css' | asset_url | stylesheet_tag }}

{%- style -%}
  
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.mobile_padding_top }}px;
    padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
    background-color: {{ section.settings.bg_color }};
  }

  @media screen and (min-width: 750px) {
     
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }

  }
  
  @media screen and (min-width: 1024px) {
    
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }

  }
  
{%- endstyle -%}

{%- if section.settings.enable_shop_login_button == false -%}
  {%- assign hide_shop_login_button = true -%}
{%- endif -%}

<div class="customer__wrapper section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}">

  {% if section.settings.pattern_before != blank %}
    <div class="pattern_before">
      {{ section.settings.pattern_before | 
        image_url: width: auto, height: auto | image_tag }}
    </div>
  {% endif %}
  
  <div class="customer login">
    <div class="customer__form--wrapper">
      <h1 id="recover" tabindex="-1">
        {{ 'customer.recover_password.title' | t }}
      </h1>
      <div>
        <p>
          {{ 'customer.recover_password.subtext' | t }}
        </p>
    
        {%- form 'recover_customer_password' -%}
          {% assign recover_success = form.posted_successfully? %}
          <div class="field">
            {% render 'icon-password' %}
            <input
              type="email"
              value=""
              name="email"
              id="RecoverEmail"
              autocorrect="off"
              autocapitalize="off"
              autocomplete="email"
              {% if form.errors %}
                aria-invalid="true"
                aria-describedby="RecoverEmail-email-error"
                autofocus
              {% endif %}
              placeholder="{{ 'customer.login_page.email' | t }}"
            >
            <label for="RecoverEmail">
              {{ 'customer.login_page.email' | t }}
            </label>
          </div>
          {%- if form.errors -%}
            <small id="RecoverEmail-email-error" class="form__message">
              <span class="svg-wrapper">
                {{- 'icon-error.svg' | inline_asset_content -}}
              </span>
              {{ form.errors.messages.form }}
            </small>
          {%- endif -%}
    
          <button class="button button--primary button--large" style="width: 100%; margin-top: 2rem;">
            {{ 'customer.login_page.submit' | t }}
          </button>
    
          <a href="#login" class="account__access--text">
            {{ 'customer.login_page.cancel' | t }}
          </a>
        {%- endform -%}
      </div>
    
      <h1 id="login" tabindex="-1">
        {{ 'customer.login_page.sign_in' | t }}
      </h1>
      {% if section.settings.subtitle != blank %}
        {{ section.settings.subtitle }}
      {% endif %}
      <div>
        {%- if recover_success == true -%}
          <h3 class="form__message" tabindex="-1" autofocus>
            <span class="svg-wrapper">
              {{- 'icon-success.svg' | inline_asset_content -}}
            </span>
            {{ 'customer.recover_password.success' | t }}
          </h3>
        {%- endif -%}
        {%- form 'customer_login', novalidate: 'novalidate' -%}
          {%- if form.errors -%}
            <h2 class="form__message" tabindex="-1" autofocus>
              <span class="visually-hidden">{{ 'accessibility.error' | t }} </span>
              <span class="svg-wrapper">
                {{- 'icon-error.svg' | inline_asset_content -}}
              </span>
              {{ 'templates.contact.form.error_heading' | t }}
            </h2>
            {{ form.errors | default_errors }}
          {%- endif -%}
    
          {%- if shop.features.login_with_shop_classic_customer_accounts? -%}
            <section name="sign-in-with-shop-provider">
              {{ shop | login_button: hide_button: hide_shop_login_button }}
    
              {%- unless hide_shop_login_button -%}
                <p>
                  {{ 'customer.login_page.alternate_provider_separator' | t }}
                </p>
              {%- endunless -%}
            </section>
          {%- endif -%}
    
          <div class="field">
            {% render 'icon-email' %}
            <input
              type="email"
              name="customer[email]"
              id="CustomerEmail"
              autocomplete="email"
              autocorrect="off"
              autocapitalize="off"
              {% if form.errors contains 'form' %}
                aria-invalid="true"
              {% endif %}
              placeholder="{{ 'customer.login_page.email' | t }}"
            >
            <label for="CustomerEmail">
              {{ 'customer.login_page.email' | t }}
            </label>
          </div>
    
          {%- if form.password_needed -%}
            <div class="field">
              {% render 'icon-password' %}
              <input
                type="password"
                value=""
                name="customer[password]"
                id="CustomerPassword"
                autocomplete="current-password"
                {% if form.errors contains 'form' %}
                  aria-invalid="true"
                {% endif %}
                placeholder="{{ 'customer.login_page.password' | t }}"
              >
              <label for="CustomerPassword">
                {{ 'customer.login_page.password' | t }}
              </label>
            </div>

            <div class="forgot_password account__access--text">
              <p>{{ 'customer.login_page.forgot_password' | t }}</p>
              <a href="#recover">
                {{ 'customer.login_page.click_here' | t }}
              </a>
            </div>
          {%- endif -%}
    
          <button class="button button--primary button--large" style="width: 100%; margin-top: 2rem;">
            {{ 'customer.login_page.sign_in' | t }}
          </button>

          <div class="create_account account__access--text">
            <p>{{ 'customer.login_page.sign_up_text' | t }}</p>
            <a href="{{ routes.account_register_url }}">
              {{ 'customer.login_page.create_one' | t }}
            </a>
          </div>
        {%- endform -%}
      </div>
    
      {%- if shop.checkout.guest_login -%}
        <div>
          <hr>
          <h2>{{ 'customer.login_page.guest_title' | t }}</h2>
    
          {%- form 'guest_login' -%}
            <button class="button button--primary">
              {{ 'customer.login_page.guest_continue' | t }}
            </button>
          {%- endform -%}
        </div>
      {%- endif -%}
    </div>
  </div>
  
  {% if section.settings.pattern_after != blank %}
    <div class="pattern_after">
      {{ section.settings.pattern_after | 
        image_url: width: auto, height: auto | image_tag }}
    </div>
  {% endif %}

</div>

{% schema %}
{
  "name": "t:sections.main-login.name",
  "settings": [
    {
      "type": "richtext",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-2"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },
    {
      "type": "image_picker",
      "id": "pattern_before",
      "label": "Patter Before"
    },
    {
      "type": "image_picker",
      "id": "pattern_after",
      "label": "Patter After"
    },
    {
      "type": "checkbox",
      "id": "enable_shop_login_button",
      "label": "t:sections.main-login.shop_login_button.enable",
      "default": true
    },
    {
      "type": "header",
      "content": "Desktop Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 50,
      "max": 150,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 50,
      "max": 150,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 50
    },
    {
      "type": "header",
      "content": "Mobile Padding"
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 0
    }
  ]
}
{% endschema %}
