{{ 'membership-overview.css' | asset_url | stylesheet_tag: preload: true }}
{{ 'pdp-benefits.css' | asset_url | stylesheet_tag: preload: true }}

{%- style -%}
  
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.mobile_padding_top }}px;
    padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
    background-color: {{ section.settings.bg_color }};
    background-image: url({{ section.settings.bg_image | image_url: width: auto, height: auto }});
  }

  .section-{{ section.id }}-padding .section-heading {
    color: {{ section.settings.heading_color }};
  }

  .section-{{ section.id }}-padding .overview__block--items {
    background-color: {{ section.settings.block_bg }};
  }

  .section-{{ section.id }}-padding.padding-top-0-true {
    padding-top:0;
  }

  @media screen and (min-width: 750px) {
     
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }

  }
  
  @media screen and (min-width: 1024px) {
    
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }

  }

  @media screen and (max-width: 1366px) {
    .section-{{ section.id }}-padding {
      padding-top: 8%;
      padding-bottom: 8%;
    }
  }

  @media screen and (max-width: 479px) {
    .section-{{ section.id }}-padding {
      padding-top: 16%;
      padding-bottom: 16%;
    }
  }

   @media screen and (max-width: 749px) {
     
    .section-{{ section.id }}-padding {
      background: {{ section.settings.mobile_bg_color }};
    }

   }

  {% for block in section.blocks %}
    
    .block--{{ block.id }} .block-heading {
      color: {{ block.settings.block_primary_color }};
    }

    .block--{{ block.id }} .block-header {
      border-color: {{ block.settings.block_primary_color }};
    }

    {% if block.settings.tick != blank %}
    
      .block--{{ block.id }} .block-card-point ul li:before {
        background-image: url({{ block.settings.tick | image_url: width: auto, height: auto }});
      }

    {% endif %}

  {% endfor %}
    
{%- endstyle -%}

<section class="membership__overview--section pdp__benefits--wrapper slider_on_mobile_{{ section.settings.slider_on_mobile }} section-{{ section.id }}-padding margin-minue_{{ section.settings.margin-minue}} padding-top-0-{{ section.settings.padding-top-0 }} small_header_{{ section.settings.small_header }}">
  
  <div class="page-width">

    <div class="section-header">
      {%- if section.settings.heading != blank -%}
        <h2 class="section-heading center" style="color: {{ section.settings.heading_color }}">{{ section.settings.heading }}</h2>
      {%- endif -%}
  
      {%- if section.settings.subheading != blank -%}
        <div class="section-description rte center">{{ section.settings.subheading }}</div>
      {%- endif -%}
    </div>
    
    <div class="overview-blocks">
      {% for block in section.blocks %}
        <div class="overview__block--items block--{{ block.id }}">
          <div class="block-header">
            {% if block.settings.heading_icon %}
              {{ block.settings.heading_icon | image_url: width: 73 | image_tag: alt: block.settings.heading_icon | default: 'Heading Icon', fetchpriority: fetch_priority, loading: 'lazy' }}
            {% endif %}
            <h3 class="block-heading">{{ block.settings.block_heading }}</h3>
          </div>
          
          {% if block.settings.block_subheading != blank %}
            <h4 class="block-subheading">{{ block.settings.block_subheading }}</h4>
          {% endif %}

          {% if block.settings.block_description != blank %}
            <div class="block-description">{{ block.settings.block_description }}</div>
          {% endif %}

          {% if block.settings.card_points != blank %}
            <div class="block-card-point {% if block.settings.tick != blank %}tick__image--enabled{% endif %}">{{ block.settings.card_points }}</div>
          {% endif %}

          {% if block.settings.button_url %}
            <a href="{{ block.settings.button_url }}" class="button button--primary">{{ block.settings.button_text }}</a>
          {% endif %} 
          
        </div>
      {% endfor %}
    </div>
    
  </div>
  
</section>

{% schema %}
{
  "name": "PDP Benefits",
  "tag": "section",
  "class": "membership-overview-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "Section Heading",
      "default": "Membership Overview"
    },
    {
      "type": "richtext",
      "id": "subheading",
      "label": "Subheading",
      "default": "<p>Navigating your cancer risk can feel complex. Your Longevity Life+ membership is more than just a test...</p>"
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background",
      "default": "#D9D9D9"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading Text Color",
      "default": "#2E3490"
    },
    {
      "type": "color",
      "id": "block_bg",
      "label": "Block Background Color",
      "default": "#ffffff"
    },
    {
      "type": "checkbox",
      "id": "slider_on_mobile",
      "label": "Enabled slider on mobile"
    },
    {
      "type": "checkbox",
      "id": "margin-minue",
      "label": "Margin top minus enabled"
    },
    {
      "type": "checkbox",
      "id": "padding-top-0",
      "label": "Padding top 0"
    },
    {
      "type": "checkbox",
      "id": "small_header",
      "label": "Small Header"
    },
    {
      "type": "header",
      "content": "Desktop Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 110,
      "max": 210,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 110
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 110,
      "max": 210,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 110
    },
    {
      "type": "header",
      "content": "Mobile Padding"
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 50
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 50
    }
  ],
  "blocks": [
    {
      "type": "card",
      "name": "Membership Card",
      "settings": [
        {
          "type": "image_picker",
          "id": "heading_icon",
          "label": "Heading Icon"
        },
        {
          "type": "inline_richtext",
          "id": "block_heading",
          "label": "Heading",
          "default": "Ongoing Navigated Support & Advocacy"
        },
        {
          "type": "text",
          "id": "block_subheading",
          "label": "block Subheading",
          "default": "The care you need, the moment you need it."
        },
        {
          "type": "text",
          "id": "block_description",
          "label": "block Description",
          "default": "Our oncologist-led care team is with you throughout your journey—you're never alone."
        },
        {
          "type": "image_picker",
          "id": "tick",
          "label": "Buller Point Image"
        },
        {
          "type": "richtext",
          "id": "card_points",
          "label": "Bullet Points (one per line)",
          "default": "<p>Access to clinically guided cancer care\nGuidance adapting your plan as new research emerges\nAccess to leading-edge clinical trials should your diagnosis change</p>"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "Add to Cart"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button URL"
        },
        {
          "type": "header",
            "content": "Color"
        },
        {
          "type": "color",
          "id": "block_primary_color",
          "label": "Block Color",
          "default": "#39BBEC",
          "info": "It will be used for heading,border and bullet points."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "PDP Benefits",
      "blocks": [
        { "type": "card" },
        { "type": "card" },
        { "type": "card" }
      ]
    }
  ]
}
{% endschema %}


